# OS
.DS_Store
Thumbs.db

# MT4/MetaEditor
*.ex4
*.ex5
*.mqh~
*.log
*.tmp
mqlcache.dat


# Backtest outputs (大きいものは追わない)
backtests/reports/*.html
backtests/reports/*.htm
backtests/reports/*.png
backtests/reports/*.gif

# Archives
*.zip
*.7z
*.rar

# MT4 Tester temporary files & logs
presets/caches/
presets/files/
presets/history/
presets/logs/
presets/*.ini
presets/*.chr
